<h1>{{ vm.hotel.name }} <hotel-rating stars="vm.stars"></hotel-rating></h1>

<p>{{ vm.hotel.description}}</p>

<h3>Avis</h3>
<ul>
  <li ng-repeat= "review in vm.hotel.reviews"><strong>{{ review.name }} commente : </strong> {{ review.review }}</li>
</ul>

<div ng-if="vm.isLoggedIn()">

  <form name="vm.reviewForm" ng-submit="vm.addReview()">

    Votre évaluation : <input type="number" name="rating" required ng-pattern ="/^[1-5]$/" ng-model="vm.rating">
    <div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.&invalid && vm.isSubmitted">
      <p>Evaluation entre 1 et 5.</p>
    </div>

    Vos commentaires : <textarea name="review" required ng-model="vm.review"></textarea>
    <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
      <p>Veuillez ajouter un commentaire</p>
    </div>

    <button type="submit" class="btn">Ajouter un avis</button>
    
  </form>

</div>
