<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Slider -->
      <div id="Carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="Carousel" data-slide-to="0" class="active"></li>
          <li data-target="Carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/1.jpg" class="img-responsive" alt="Réception">
          </div>
          <div class="item">
            <img src="img/3.jpg" class="img-responsive" alt="Restaurant">
          </div>
        </div>

        <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </span>
        <span class="right carousel-control" data-target="#Carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="col-xs-12 col-sm-6">
      <h1>Les hôtels</h1>
        <div class="ListHotel" ng-repeat="hotel in homeCtrl.hotels">
        <ul>
          <li><a href="#/hotel/{{hotel._id}}">{{hotel.name}}</a></li>
        </ul>

      </div>
    </div>
  </div> -->

  <!-- <div class="container">
  <div class="row">
        <ul>
        <li ng-repeat="hotel in homeCtrl.hotels">
        <ul class="puce">
          <li ng-repeat="review in hotel.reviews"><label for="example-text-input" class="col-2 col-form-label">Nom: </label>{{review.name}} <label for="example-text-input" class="col-2 col-form-label">Note: </label>{{review.rating}} <span class="glyphicon glyphicon-star"></spa <label for="example-text-input" class="col-2 col-form-label">Commentaire: </label>{{review.review}} <label for="example-text-input" class="col-2 col-form-label">Date: </label>{{review.createdOn}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div> -->
<div class="container">
  <div class="row marginTop">
    <div class="col-xs-12 col-sm-6">
      <div class="ListHotel">
        <h1>Les hôtels</h1>
        <div ng-repeat="hotel in homeCtrl.hotels" class="hotelList">
          <a href="#/hotel/{{ hotel._id}}" class="linkToHotel">{{hotel.name}}</a>
          <br/>
          <span ng-show="hotel.stars === 0">
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
          </span>
          <span ng-show="hotel.stars === 1">
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
          </span>
          <span ng-show="hotel.stars === 2">
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
          </span>
          <span ng-show="hotel.stars === 3">
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
          </span>
          <span ng-show="hotel.stars === 4">
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/vide.png" alt="star" class="star"/>
          </span>
          <span ng-show="hotel.stars === 5">
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
            <img src="img/pleine.png" alt="star" class="star"/>
          </span>
        </div>
      </div>
    </div>
    <div class = "col-xs-2 col-sm-6">
      <h1>Avis de nos clients</h1>

      <div class="listCommentaire">
        <div ng-repeat="hotel in homeCtrl.hotels">
          <ul>
            <li ng-repeat="review in hotel.reviews">
              <span class="commentName">{{review.name}}</span>
              <span ng-show="review.rating === 0">
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
              </span>
              <span ng-show="review.rating === 1">
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
              </span>
              <span ng-show="review.rating === 2">
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
              </span>
              <span ng-show="review.rating === 3">
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
              </span>
              <span ng-show="review.rating === 4">
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/vide.png" alt="star" class="star"/>
              </span>
              <span ng-show="review.rating === 5">
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
                <img src="img/pleine.png" alt="star" class="star"/>
              </span>
              <br/>
              {{review.review}}
              <br/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
